<center><h1>玛卡</h1>

<div class="lemma-main-content" id="lemmaContent-0" style="width:1000px;"> <div class="anchor-list">
<img src="__PUBLIC__/test.jpg" />
玛卡属于独行菜属植物，在植物形态特征上与其他独行菜属植物有很多共性。独行菜属植物约175种，全世界有广泛分布；为一年至多年生草本或半灌木，常具单毛、腺毛、柱状毛；茎单一或多数，分枝。叶草质至纸质，线状钻形至宽椭圆形，全缘、锯齿缘至羽状深裂，有叶柄，或基部深心形抱茎。总状花序顶生及腋生；萼片长方形或线状披针形，稍凹，基部不成囊状，具白色或红色边缘；花瓣白色，少数带粉红色或微黄色，线形至匙形，比萼片短，有时退化或不存；雄蕊6个，常退化成2或4个，基部间具微小蜜腺；花柱短或不存，柱头头状，有时稍二裂；子房常有2个胚珠。短角果卵形、倒卵形、圆形或椭圆形，扁平，开裂，有窄隔膜，果瓣有龙骨状突起，或上部梢有翅。种子卵形或椭圆形，无翅或有翅；子叶背倚胚根，很少缘倚胚根。[1] 
玛卡是一种一年生草本植物。其地下部分的块状根茎，长10至14厘米、直径在最宽部分3至5厘米，周长为15厘米；形似小萝卜，自然界发现有两种类型的颜色，黄色和紫色，质地稠密具有一定硬度。植物的须根呈白色，长达15厘米，在各个方向上大量延伸。叶子的长度为20至23厘米，具齿痕，叶形二回羽状分裂，长8至13厘米，宽3厘米，生长垂向地面。叶柄很结实，可达到的长度超过10厘米，二级茎形成分支，长10到16厘米。[2] 
玛卡是独行菜属中唯一生有肥厚的下胚轴的物种。下胚轴与根融合，形成了一个粗糙倒梨形的块根。玛卡根部的形状和体积差距很大，有三角形、椭圆形或矩形。玛卡的下胚轴可能呈金色或者淡黄色、红色、紫色、蓝色、黑色或者绿色。每一株都被认为是独特的基因品种。特别的性状（主要指根的颜色）会根据其不同营养和治疗特性而被特别的人工选 培育。在秘鲁，淡黄色的根最常见，形状、味道也最好。
颜色较深的玛卡根，如红色、紫色、黑色，含有较多的碘，黑色玛卡被认为是强壮与精力的代表，口感上兼顾了甜与微苦。


</div>
 </div>
 </center>