<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<title></title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="__PUBLIC__/AppEjhp/css/common.css" rel="stylesheet" media="screen" type="text/css" />
<script>

function phpsys_update_code(a){
	a.src="__MODULE__/Verify/getVerifyCode?"+Math.random();
}


</script>
</head>
<body>
<div class="slide"><img src="__PUBLIC__/AppEjhp/images/slide.jpg"></div>
<div class="m-94"> <img src="__PUBLIC__/AppEjhp/images/1.jpg"> </div>
<div class="m-94 box-2"> <img src="__PUBLIC__/AppEjhp/images/2.jpg">
  <div class="box-2-1">
    <p><span>子宫缺血：</span>痛经、月经紊乱、经血过多过少、子宫出血</p>
    <p><span>卵巢缺血：</span>多斑、早衰、皱纹、脸黄唇白、身材变形</p>
    <p><span>乳房缺血：</span>乳房肿块、乳腺肿瘤、乳腺癌</p>
    <p><span>心脏缺血：</span>心慌、气短、胸闷、手脚冰冷、手足麻木</p>
    <p><span>大脑缺血：</span>头晕乏力、失眠多梦、健忘心悸、精神恍惚、记忆力下降</p>
    <p><span>筋骨缺血：</span>腰酸腿软、颈肩酸痛</p>
    <p><span>肝脏、胰腺缺血：</span>虚胖、乏力、脂肪肝、高血脂、高血糖</p>
  </div>
</div>
<div class="m-100 box-3"> <img src="__PUBLIC__/AppEjhp/images/3.jpg"> <img src="__PUBLIC__/AppEjhp/images/4.jpg"> <img src="__PUBLIC__/AppEjhp/images/5.jpg"> </div>
<div class="box-4"> <img src="__PUBLIC__/AppEjhp/images/6.jpg"> </div>
<div class="m-100"> <img src="__PUBLIC__/AppEjhp/images/7.jpg"> </div>
<div class="box-5">
  <div class="box-5-1"><img src="__PUBLIC__/AppEjhp/images/8.jpg"></div>
  <div class="box-product">
    <ul>

	<foreach name="data" item="vo">
      <li>
	
        <table>
          <tr>
            <td><img src="__PUBLIC__/AppEjhp/images/<{$vo.picsrc}>"></td>
            <td><p class="price"><em>￥</em><span><{$vo.price}></span><{$vo.producttype}></p>
              <p class="y_price">原价：<span>￥<{$vo.orgprice}></span></p>
              <p class="text"><{$vo.preferential}></p></td>
            <td><a href="#dg">马上订购</a></td>
          </tr>
        </table>
      </li>

  </foreach>
    </ul>
    <div class="both"></div>
  </div>
  <div class="both"></div>
</div>
<div class="box-7">
  <div class="box-7-1"><img src="__PUBLIC__/AppEjhp/images/box-7-tit.jpg"></div>
  <div class="box-case">
    <ul>
      <li> <img src="__PUBLIC__/AppEjhp/images/box-7-1.jpg">
        <div class="info">
          <h3>梦醒了，我要开始新的征程</h3>
          <p>我跟他是在一个项目接近尾声的时候认识的，我们都把这一切定义为一夜情，谁也不用对谁负责。但“天有不测风云”，一个月后，我发现自己的胃口发生了变化，而且例假也很久没有光顾了，赶紧到医院作了检查，怀孕了！从未有过的恐惧和无助充溢着我的心。无奈之下，只好找他帮忙。很显然，这个孩子是不能要的。于是，去做了人流手术。整个手术过程犹如一场梦，只有手术室外他的身影提醒着我，原来一切真的发生过！术后我一直无法原谅自己，对那个还没出生就被我们扼杀的灵魂充满深深的歉意，我陷入了无法自拔的自责中。由于手术中出了很多血，身体一下垮了。月经紊乱，痛得我下不了床，各种妇科病也找上门了。家里人发现了，他们选择站在我身边。通过三个疗程的培元阿胶含片调理，身体慢慢恢复元气，月经逐渐恢复正常，脸上恢复血色，而各种妇科病症状也逐渐消失。看着镜子里的自己，我告诉自己：梦醒之后，开始新的征程。</p>
        </div>
      </li>
      <li> <img src="__PUBLIC__/AppEjhp/images/box-7-2.jpg">
        <div class="info">
          <h3>35岁大龄剩女逆袭</h3>
          <p>身披婚纱坐在窗前，此刻的我被幸福包围着，但我知道这幸福是那么的来之不易。我一直都是剩女大军的领军人物。一开始觉得一个人自由、潇洒，但随着年龄的增长，皮肤的各种问题开始出现，尤其是色斑，越发的严重。如今看着身边的朋友们一个个都走进了婚姻的殿堂，我只能干着急，虽然嘴上仍在逞强，但我内心里也十分渴望爱情的温暖。但这祛斑说起来容易做起来真不容易呀！其实我从长斑开始就陆陆续续的在使用祛斑产品，但是效果都不大。有的刚开始有效果，但是一停用就又反弹了，我真是愁死了。吃了培元阿胶含片一个疗程，色斑面积不再扩散，颜色比原来淡了有1/3，又连着吃一个疗程，斑点消失有一半，皮肤不暗黄了，变得光泽，红润了很多，亮颜色的衣服也敢穿了，一年过去了，我的皮肤越来越好，脸上的斑点几乎淡化得看不出来，看起来比原来年轻一些。终于，爱情找上门来了...</p>
        </div>
      </li>
      <li> <img src="__PUBLIC__/AppEjhp/images/box-7-3.jpg">
        <div class="info">
          <h3>我38岁离婚，居然被小暖男狂追？</h3>
          <p>“是的，我现在很幸福。”刚过37岁生日的陈小姐二婚不久，看到她春风满面，身材凹凸有致，一点都想象不出一年前的她还是个刚离婚的黄脸婆。“跟前夫结婚后，一直在家做家庭主妇，每天蓬头垢面，以为照顾好家庭就行了。谁知道，几年后，脸上渐渐失去光泽，皱纹，色斑都冒出来了。有一天，忽然发现乳房里长了肿块，自己都能摸着，一直靠吃药控制着，月经前的那几天又胀又疼，一碰就疼，根本不能碰，运动时更觉得胸坠的难受，和老公亲热一下，疼的受不了。终于有一天，他提出了离婚。培元阿胶含片陪我渡过了离婚后那漫长的三个月。吃了三个疗程，不仅钻心的疼痛慢慢缓解至消除，肿块也彻底消失了，胸部比以前感觉还紧致了不少。皮肤从干燥变得有水份，整个人更自信了，重新给自己找了份工作，在公司一次项目合作中，认识了我现在的老公。比我小整整八岁！可是他说，我看着就像二十几岁，他每天都腻着我，让我真切感觉到做一个女人的幸福！”...</p>
        </div>
      </li>
      <li class="last"> <img src="__PUBLIC__/AppEjhp/images/box-7-4.jpg">
        <div class="info">
          <h3>能自己带小孩就是这辈子最大的幸福！</h3>
          <p>我跟老公结婚11年才有了第一个孩子，我们特别珍惜。孩子出生时条件不好，身体虚弱，天气又热，孩子没奶水喝，天天哭闹，根本就没睡过一个好觉。月子里膝关节就痛了，后来全身关节都有不同程度的疼痛，膝关节更为严重，怕冷，怕风，不敢下冷水，夏天也都是穿长衣棉毛裤，如此，还是痛，麻酸，有时还抽的痛，痛苦得不行。小孩出生后，只能靠奶粉填饱肚子。我无时无刻都觉得自己对不起小孩，甚至还后悔当初生下他来遭罪！看到婆婆和老公心疼小孩的样子，我心里更加内疚！先后看过好多医生，药吃了不少，都不见好，我都快失望了。后来开始吃培元阿胶含片，最明显的变化是不怕冷了，大热天的终于敢穿短袖衣服。体力慢慢恢复，精气神上来了，孩子还能吃上几口奶水，而我也终于有力气带孩子了！感觉跟能跟孩子在一起，每一分每一秒都是上天赐予的，无比幸福！...</p>
        </div>
      </li>
    </ul>
    <div class="both"></div>
  </div>
</div>
<div class="dinggou"> <a name="dg"></a>
  <h3>在线订购</h3>
  <div class="dinggou_list">
    <form method="post" action="__MODULE__/SubOrder/submit" onsubmit="return dinggou()" name="form1">
      <ul>
        <li>
          <div class="title">选择产品</div>
          <div class="info">
            <select class="productid" name="productid">
             <foreach name="data" item="vo"> 
              <option value="<{$vo.id}>"><{$vo.producttype}></option>
            </foreach>
			</select>
          </div>
        </li>
        <li>
          <div class="title">数　　量</div>
          <div class="info">
            <input type="text" name="num" value="1" class="text">
          </div>
        </li>
        <li>
          <div class="title">姓　　名</div>
          <div class="info">
            <input type="text" name="name" value="" class="text">
          </div>
        </li>
        <li>
          <div class="title">联系电话</div>
          <div class="info">
            <input type="text" name="phone" value="" class="text">
          </div>
        </li>
		<li>
            <div class="title">地　　区</div>
            <div class="info">
              <div class="city">
                <select class="citysel prov" id="prov" name="prov" onChange="changeComplexProvince(this.value, sub_array, 'cityselect', 'dist');">
                </select>
                <select id="cityselect" class="citysel cityselect" name="cityselect" onChange="changeCity(this.value,'dist','dist');">
                </select>
                <select class="citysel dist" id="dist" name="dist">
                </select>
              </div>
            </div>
          </li>
        <li>
          <div class="title">收货地址</div>
          <div class="info">
            <input type="text" name="address" value="" class="text address">
          </div>
        </li>
        <li>
          <div class="title">付款方式</div>
          <div class="info">
            <select class="payment" name="payment">
                <option value="货到付款" checked >货到付款</option>
              <option value="支付宝">支付宝</option>
        
            </select>
            <span>验证码</span>
            <input type="text" name="verify" class="code">
            <img src="Verify/getVerifyCode" border="0" onclick="phpsys_update_code(this)" id="codeImg" ></div>
        </li>

        <li>
          <div class="title">用户留言</div>
          <div class="both"></div>
          <div class="word">
            <textarea name="word"></textarea>
          </div>
        </li>
        <li class="last">
          <input type="hidden" value="APP" name="client">
          <input type="submit" value="马上订购" class="submit" style="cursor:pointer">
          <input type="reset" value="清空表单" class="reset" style="cursor:pointer">
        </li>
      </ul>
    </form>
    <div class="both"></div>
  </div>
  <div class="copyright">Copyright © 2006-2015</div>
</div>
<{$MonitorCode}>
<div class="fixed-nav">
  <ul>
    <li class="swt"><div  id="LR_User_Icon0" ></div></li>
    <li class="more"><a href="#dg"><em>马上订购</em></a></li>
    <li class="tel"><a href="tel:4008856836"><em>免费热线</em></a></li>
  </ul>
</div>
<script src="__PUBLIC__/Js/jq.js"></script>
<script src="__PUBLIC__/AppEjhp/js/Area.js"></script>
<script src="__PUBLIC__/AppEjhp/js/AreaData_min.js"></script>
<script src="__PUBLIC__/AppEjhp/js/common.js"></script>
<!--请将以下码嵌入到您网页源代码的最后面，通常是</body></HTML>之后,这样在服务器升级维护的时候也不会影响您的网页打开呈现速度。-->
	<script language="javascript" src="http://ala.zoossoft.com/JS/LsJS.aspx?siteid=ALA96738846&float=1&lng=big5"></script>
<script language="javascript">
<!--
if(typeof(LiveReceptionCode_isonline)!='undefined')
{
	if(LiveReceptionCode_isonline)
		LR_GetObj('LR_User_Icon0').innerHTML='<a '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员在线,欢迎点击咨询')+'><em>在线咨询</em></a>';
	else
		LR_GetObj('LR_User_Icon0').innerHTML='<a '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员不在线,请点击留言')+'><em>在线咨询</em></a>';
}
//-->
</script>
 <!-- <div class="float"><script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAxNjc4Nl8yNzU2NzBfNDAwODg1NjgzNl8"></script></div> --> 
<!--请将以下码嵌入到您网页源代码的最后面，通常是</body></HTML>之后,这样在服务器升级维护的时候也不会影响您的网页打开呈现速度。-->
<script language=javascript>
var LiveAutoInvite0='您好，来自%IP%的朋友';
var LiveAutoInvite1='来自首页的对话';
var LiveAutoInvite2=' 网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
</script>

</body>
</html>